body{
	font-family: Arial;
	font-size:17px;
	line-height:1.5;
	background-color:gray;
	padding:0;
	margin:0;
}
/*global Shit my bru */
.container{
	width:85%;
	margin:auto;
	overflow:hidden;
}
ul{
	margin:0;
	padding:0;
	
}

.button_1{
	height:38px;
	background:orange;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:white;
}
.colortheme{
	padding:15px;
	background:#2ECC71;
	color:white;
	margin-top:30px;
	margin-bottom:30px;
}

/* Header--- */
header{
	background:#;
	color:white;
	padding-top:30px;
	min-height:70px;
	border-top:orange 3px solid;
	border-bottom:orange 3px solid;
}

header a{
	color:white;
	text-decoration:none;
	text-transform: lowercase;
	font-size:16px;	
}



header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #branding{
	float:left;
	
}
header #branding h1{
	margin:0;		
}
header nav{
	float:right;
	margin-top:10px;
	
}

header .highlight, header .current a{
	color:#ff3333;
	font-weight:bold;
}

header a:hover{
	color:#fff333;
	font-weight:bold;
}

/* Showcase Region */
#showcase{
	min-height:400px;
	background:url("../image/girlLaptop.jpeg") no-repeat;
	text-align:center;
	color:white;
	
}
#showcase h1{
	font-size:80px;
	margin-bottom:10px;
	margin-top:50px;
}

#showcase p{
	font-size:25px;
	
}
/* SUBSCRIPTION EMAILS */
#newsletter{
	padding:15px;
	color:white;
	background:#35424a;
}
#newsletter h1{
	float:left;
}
#newsletter form{
	float:right;
	margin-top:15px;
}

#newsletter input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}

/*BOXes on thee HOME page */
#boxes{
	margin-top:20px;
}
#boxes .box{
	float:left;
	width:30%;
	padding:10px;
	border:white 2px solid;
	text-align:center;
}

#boxes .box img{
	width: 140px;
	
}
/*SIDEBAR*/
aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}
aside#sidebar .feedback input, aside#sidebar .textarea{
	width:90%;
	padding:5px;
}

/*Main-Col*/

article#main-col{
	float:left;
	width:68%;
}
ul#downloads li{
	list-style:none;
	padding:20px;
	border:#cccccc solid 1px;
	margin-bottom:5px;
	background: #e6e6e6;
	
}
footer{
	border:#17202A 3px solid;
	margin-top:20px;
	color:blue;
	padding:20px;
	background-color:;
	text-align:center;
	
	
}